* {
	-fx-base1: #FFFFFF;
	-fx-base2: #f0f1f1;
}

.body {
	-fx-background-color: -fx-base2;
}

.paneBorder {
	-fx-background-color: -fx-base1;
	-fx-background-radius: 9.0px;
	-fx-border-radius: 9.0px;
}

.grayPane{
	-fx-background-color: -fx-base2;
	-fx-background-radius: 9.0px 9.0px 0.0 0.0;
	-fx-border-radius: 9.0px 9.0px 0.0 0.0;
  -fx-background-insets: 10.0px;
}

.insideGrayPane {
	-fx-background-color: -fx-base1;
}

.connectButton {
	-fx-background-color: #1eae98;
}

.connectButton:hover {
	-fx-background-color: #0F8775
}

.disconnectButton {
	-fx-background-color: #D47468;
}

.disconnectButton:hover {
	-fx-background-color: #A34F45;
}

.button {
	-fx-width: 100.0%;
	-fx-height: 35.0px;
	-fx-color: -fx-base1;
}

.consoleTxt {
	-fx-background-color: -fx-base1;
	-fx-border-color: #dce0e0;
	-fx-background-radius: 12.0px 12.0px 12.0px 12.0px;
	-fx-border-radius: 12.0px 12.0px 12.0px 12.0px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color:derive(black,90.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.consoleTxt .scroll-bar:horizontal .thumb:hover,
.consoleTxt .scroll-bar:vertical .thumb:hover {
  -fx-background-color:derive(#4D4C4F,10.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color: white;
  -fx-border-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color:transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color:transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 10.0 0.0 0.0;
}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
  -fx-shape: " ";  
  -fx-padding: 0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
  -fx-shape: " ";  
  -fx-padding: 0.0 0.15em;
}

.consoleTxt .jfx-combo-box .input-line {
	-fx-pref-height: 0.0px;
}
.consoleTxt .jfx-combo-box .input-focused-line {
	-fx-pref-height: 0.0px;
}